* {
  font-family: $base-font-family;
  /* Prevent copy */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* set scrollbar */
  scrollbar-width: thin;  
  scrollbar-color: #ffffff2a #000000;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff2a;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $base-bg-image;
  font-size: $base-font-size;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  image-rendering: pixelated !important;
}
svg {
  position: absolute;
}

#container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; 
  min-height: 100vh;
  position: relative;
}

#header {
  align-self: center;
  width: 100%;
}

#body {
  padding: 50px 0 50px 0;
  position: relative;
}

#footer {
  height: 50px;
  width: 100%;
  padding: 1rem;
  background: $footer-bg-color;
  box-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.vertical {
  display: block;
}
.horizontal {
  display: inline-block;
}
.loading {
  pointer-events: none;
  opacity: 0.5;
}
.pointer-none {
  pointer-events: none;
}