%border-box {
  background-position:
    top -2px left -2px,
    bottom -2px left -2px,
    top -2px right -2px,
    bottom -2px right -2px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  padding: 2px 4px;
}

@each $key, $val in $border-box {
  .border-box-#{$key} {
    @extend %border-box;
    background-color: map-get($val,"light");
    background-image:
      url("#{$base-public-folder}/img/UI/BorderBox/#{$key}-l-t.png"),
      url("#{$base-public-folder}/img/UI/BorderBox/#{$key}-l-b.png"),
      url("#{$base-public-folder}/img/UI/BorderBox/#{$key}-r-t.png"),
      url("#{$base-public-folder}/img/UI/BorderBox/#{$key}-r-b.png");
    box-shadow: 
      1px 1px map-get($val,"basic"),
      1px -1px map-get($val,"basic"),
      -1px 1px map-get($val,"basic"),
      -1px -1px map-get($val,"basic"),
      2px 2px map-get($val,"dark"),
      2px -2px map-get($val,"dark"),
      -2px 2px map-get($val,"dark"),
      -2px -2px map-get($val,"dark");
  }
}

