button {
  border: none;
  cursor: pointer;
  background: none;
}

%basic-button {
  width: 150px !important;
  height: 50px !important;
  font-size: 16px !important;
  line-height: 16px !important;
  color: #000 !important;
  font-family: 'Courier New', Courier, monospace !important;
}

.basic-button {
  @extend %basic-button;
  background: url("#{$base-public-folder}/img/UI/MainBtn/btn_2.png") !important;

  &:hover {
    background: url("#{$base-public-folder}/img/UI/MainBtn/btn_1.png") !important;
  }
}

.basic-button-disabled {
  @extend %basic-button;
  background-image: url("#{$base-public-folder}/img/UI/MainBtn/btn_3.png") !important;
}

.login-button {
  width: 138px !important;
  height: 90px !important;
  font-size: 16px !important;
  color: #000 !important;
  background: url("#{$base-public-folder}/img/UI/MainBtn/LoginButton_1.png") !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 16px;
  &:hover {
    background: url("#{$base-public-folder}/img/UI/MainBtn/LoginButton_2.png") !important;
  }
}

.aldenor-button {
  min-height: 36px;
  min-width: 36px;
  height: 40px;
  width: 40px;
  margin: 14px;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($aldenor-button-colors,"normal-background");
  box-shadow: 
    2px 2px map-get($aldenor-button-colors,"normal-outer"),
    2px -2px map-get($aldenor-button-colors,"normal-outer"),
    -2px 2px map-get($aldenor-button-colors,"normal-outer"),
    -2px -2px map-get($aldenor-button-colors,"normal-outer"),

    4px 4px map-get($aldenor-button-colors,"normal-middle"),
    4px -4px map-get($aldenor-button-colors,"normal-middle"),
    -4px 4px map-get($aldenor-button-colors,"normal-middle"),
    -4px -4px map-get($aldenor-button-colors,"normal-middle"),

    6px 6px map-get($aldenor-button-colors,"normal-inner"),
    6px -6px map-get($aldenor-button-colors,"normal-inner"),
    -6px 6px map-get($aldenor-button-colors,"normal-inner"),
    -6px -6px map-get($aldenor-button-colors,"normal-inner");
  &:hover, &.active {
    background-color: map-get($aldenor-button-colors,"hover-background");
    box-shadow: 
      2px 2px map-get($aldenor-button-colors,"hover-outer"),
      2px -2px map-get($aldenor-button-colors,"hover-outer"),
      -2px 2px map-get($aldenor-button-colors,"hover-outer"),
      -2px -2px map-get($aldenor-button-colors,"hover-outer"),
  
      4px 4px map-get($aldenor-button-colors,"hover-middle"),
      4px -4px map-get($aldenor-button-colors,"hover-middle"),
      -4px 4px map-get($aldenor-button-colors,"hover-middle"),
      -4px -4px map-get($aldenor-button-colors,"hover-middle"),
  
      6px 6px map-get($aldenor-button-colors,"hover-inner"),
      6px -6px map-get($aldenor-button-colors,"hover-inner"),
      -6px 6px map-get($aldenor-button-colors,"hover-inner"),
      -6px -6px map-get($aldenor-button-colors,"hover-inner");
  }
}