.character-panel-container {
  position: relative;

  .char-panel-corner {
    position: absolute;
    z-index: 20;
  }
  .char-panel-l-t {
    top: 3px;
    left: 0;
  }
  .char-panel-l-b {
    bottom: 93px;
    left: 0;
  }
  .char-panel-r-t {
    top: 3px;
    right: 0;
  }
  .char-panel-r-b {
    bottom: 93px;
    right: 0;
  }

  .char-panel {
    height: calc(100vh - 100px - 100px - 38px); /* todo -> height - menu height - footer height - (padding+border) */
    min-height: 600px;
    .char-panel-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: calc(100% - 90px);
      padding: 32px;
      border-top: solid black 3px;
      border-bottom: solid black 3px;
      background-color: map-get($double-colors, "bg");
      box-shadow:
        2px 2px map-get($double-colors,"outer") inset,
        2px -2px map-get($double-colors,"outer") inset,
        -2px 2px map-get($double-colors,"outer") inset,
        -2px -2px map-get($double-colors,"outer") inset,
        
        4px 4px map-get($double-colors,"middle-outer") inset,
        4px -4px map-get($double-colors,"middle-outer") inset,
        -4px 4px map-get($double-colors,"middle-outer") inset,
        -4px -4px map-get($double-colors,"middle-outer") inset,
  
        6px 6px map-get($double-colors,"border") inset,
        6px -6px map-get($double-colors,"border") inset,
        -6px 6px map-get($double-colors,"border") inset,
        -6px -6px map-get($double-colors,"border") inset,
  
        8px 8px map-get($double-colors,"middle") inset,
        8px -8px map-get($double-colors,"middle") inset,
        -8px 8px map-get($double-colors,"middle") inset,
        -8px -8px map-get($double-colors,"middle") inset,
  
        10px 10px map-get($double-colors,"border") inset,
        10px -10px map-get($double-colors,"border") inset,
        -10px 10px map-get($double-colors,"border") inset,
        -10px -10px map-get($double-colors,"border") inset,
  
        12px 12px map-get($double-colors,"inner") inset,
        12px -12px map-get($double-colors,"inner") inset,
        -12px 12px map-get($double-colors,"inner") inset,
        -12px -12px map-get($double-colors,"inner") inset
      ;

      .char-panel-top {
        position: absolute;
        top: 3rem;
        width: 128px;
        height: 128px;
      }
      
      .char-panel-mid {
        width: calc(100% - 32px);
        text-align: center;
        position: relative;
        & .border-box-basic {
          position: absolute;
          width: 100%;
        }
        & > div {
          padding: 16px;
        }
        div {
          line-height: 20px;
          font-size: 16px;
        }
      }

      .char-panel-bottom {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
