.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("#{$base-public-folder}/img/UI/background.png");
  &>div {
    position: relative;
    padding: 60px 5vw 0 5vw;
  }
}