
.hint .icon {
  margin: 0 5px;
  
  .icon.chess.king, .icon.chess.knight, .icon.chess.bishop, .icon.chess.board {
    margin: 0 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .icon.chess.king {
    color: rgb(217, 255, 0);
  }
  .icon.chess.knight {
    color: rgb(255, 166, 0);
  }
  .icon.chess.bishop {
    color: rgb(0, 255, 179);
  }
  .icon.chess.board {
    color: white
  }
}