.update-map {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  .manage-map {
    width: 100%;
  }
  .update-map-tools {
    width: 50%;
    .update-map-tab {
      background-color: transparent;
      border: none;
    }
  }
}