.card {
  height: 70vh;
}
.card:hover {
  color: rgb(0, 105, 65);
  cursor: pointer;
  box-shadow: 0 0 10px black !important;
}
.charTop {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
}
.charMid {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
}
.charBottom {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
}