.card {
  height: 80vh;
}
.charTop {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
}
.charMid {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}
.charBottom {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
}