.fieldSet {
  -webkit-filter: drop-shadow(0 0 5px rgb(53, 255, 3));
  filter: drop-shadow(0 0 5px  rgb(53, 255, 3));
}
.fieldUnset {
  -webkit-filter: drop-shadow(0 0 5px rgb(255, 0, 0));
  filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}

.fieldSet:hover, .fieldUnset:hover {
  -webkit-filter: drop-shadow(0 0 5px rgb(255, 255, 0));
  filter: drop-shadow(0 0 5px  rgb(255, 255, 0));
}
.rotate0 {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.rotate90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.rotate270 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.rotate0flip {
  transform: rotate(0) scaleX(-1);
  -webkit-transform: rotate(0) scaleX(-1);
}
.rotate90flip {
  transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
}
.rotate180flip {
  transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
}
.rotate270flip {
  transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
}

.fieldPreview {
  position: relative;
  width: 192px;
  height: 192px;
  float: left;
  margin: 0 3rem 1rem 0;
}
.fieldPreviewTop {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 64px;
}
.fieldPreviewLeft {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 64px;
  left: 0;
}
.fieldPreviewMiddle {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 64px;
  left: 64px;
}
.fieldPreviewRight {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 64px;
  left: 128px;
}
.fieldPreviewBottom {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 128px;
  left: 64px;
}

.form {
  width: calc(100% - 192px - 4rem);
}
.check {
  margin-right: 2rem; 
}
.saveButton {
  position: absolute;
  bottom: 0;
}
.mapTable {
  padding: 0;
  margin: 0;
  max-width: 40vw;
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;  
  -o-overflow-style: none;  
  -webkit-overflow-style: none; 
  scrollbar-width: none; 
}
.mapWrapper {
  padding: 64px;
  display: inline-flex;
  background-image:
    linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: #ffffff;
}
.mapCol {
  width: 64px;
}
.mapField  {
  padding: 1px;
  height: 66px;
  width: 66px;
  margin: 0;
}

.generatedFields {
  width: calc(100vw - 10vw - 50vw);
  position: absolute;
  top: 0;
  padding-top: 100px;
  right: 5vw;
}
.generatedField  {
  padding: 4px;
  display: inline !important;
  width: 40px;
  height: 40px;
}

.selected {
  box-shadow: -10px -10px 0 #1eff00 inset, 10px -10px 0 #1eff00 inset, -10px 10px 0 #1eff00 inset, 10px 10px 0 #1eff00 inset;
}